{% extends "base.html" %}

{% block content %}
<br><br><br><br>  
<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre del centro de adopcion</td>
            <td>Acciones</td>
        </tr>
    </thead>

    <tbody>
        <!-- VIDEO 13 -->
        {% if centro_ctxt %}
            {% for centro in centro_ctxt %}
                <tr>
                    <td>{{ centro.id }}</td>
                    <td>{{ centro.nombre_refugio }}</td>
                    <td>
                        <a class= "btn btn-primary" href="{% url 'centro:editar-centro' centro_id %}">Editar</a>
                        <a class= "btn btn-danger" href="{% url 'centro:eliminar-centro' centro_id %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
                <h2>No hay centros de adopcion registrados </h2>
        {% endif %}
    </tbody>

</table>

{% endblock content %}