{% extends "base.html" %}

{% block content %}
<br><br><br><br>  
<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Sexo</td>
            <td>Edad</td>
            <td>Fecha Rescate</td>
            <td>Adoptame</td>
            <td>Acciones</td>
        </tr>
    </thead>

    <tbody>
        <!-- VIDEO 13 -->
        {% if mascotas %}
            {% for mascota in mascotas %}
                <tr>
                    <td>{{ mascota.id }}</td>
                    <td>{{ mascota.nombre }}</td>
                    <td>{{ mascota.sexo }}</td>
                    <td>{{ mascota.edad_aproximada }}</td>
                    <td>{{ mascota.fecha_rescate }}</td>
                    <td>{{ mascota.persona.nombre }}</td>
                    <td>
                        <a class= "btn btn-primary" href="{% url 'mascota:editar-mascota' mascota.id %}">Editar</a>
                        <a class= "btn btn-danger" href="{% url 'mascota:eliminar-mascota' mascota.id %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
                <h2>No hay mascotas registradas </h2>
        {% endif %}
    </tbody>

</table>

{% endblock content %}