{% extends "base.html" %}

{% block content %}
<br><br><br><br>  
<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Sexo</td>
            <td>Edad</td>
            <td>Fecha Rescate</td>
            <td>Adoptame</td>
            <td>Acciones</td>
        </tr>
    </thead>

    <tbody>
        <!-- VIDEO 13 -->
        <h1> {{ test }}</h1>
        {% if mascota %}
            {% for mascotas in mascota %}
                <tr>
                    <td>{{ mascotas.id }}</td>
                    <td>{{ mascotas.nombre }}</td>
                    <td>{{ mascotas.sexo }}</td>
                    <td>{{ mascotas.edad_aproximada }}</td>
                    <td>{{ mascotas.fecha_rescate }}</td>
                    <td>{{ mascotas.persona.nombre }}</td>
                    <td>
                        <a class= "btn btn-primary" href="{% url 'mascota:mascota_list_views' id_mascota %}">Editar</a>
                        <a class= "btn btn-danger" href="{% url 'mascota:mascota_delete_views' id_mascota %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
                <h2>No hay mascotas registradas </h2>
        {% endif %}
    </tbody>

</table>

{% endblock content %}