{% extends "base.html" %}


{% block content %}
<br>
<br>
<br>
<br>
<div class="contenedor-fluid ">
    <div class="col-md-6 offset-3">
        <form action="" method="post">
            {% csrf_token %}
            <h3>Desea eliminar el registro de {{ mascota.nombre }}</h3>
            
            <button type="submit" class="btn btn-danger">Adoptar Mascota</button>
            <a class="btn btn-default" href="{% url 'mascota:mascota_list_views' %}">Cancelar</a>
        </form>
    </div>
</div>
  
{% endblock content %}